/* ===== BASE ===== */
.wrapper {
  width: 100%;
  background-color: #ffffff;
  color: #333;
  font-family: 'Segoe UI', sans-serif;
}

/* ===== SECTION TITLE ===== */
/* ===========================
   HERO
=========================== */
.hero {
  background: url('../assets/conatiners/premiumContainer/background.png') center/cover no-repeat;
  color: #fff;
  padding: 50px 60px;
  width: 100%;
  height: 80vh;
  display: flex;
  justify-content: start;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.heroContent {
  display: flex;
  justify-content: start;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
}

.topLabel {
  color: white;
  font-weight: 400;
  font-size: 23px;
  margin-bottom: 30px;
}

.mainTitle {
  font-size: 70px;
  font-weight: 600;
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 20px;
  line-height: 1.1;
}

.mainTitle span {
  color: #fff;
}

.heroDesc {
  font-size: 17px;
  line-height: 1.7;
  color: #e2e8f0;
  margin-bottom: 30px;
  max-width: 650px;
}

.btnWhite {
  width: 267px;
  height: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #1a3c6e;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 25px 28px;
  /* Only left & right padding */
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s ease;
  box-sizing: border-box;
}

.arrow {
  transition: transform .35s ease;
}

.btnWhite:hover {
  background: #ffffff;
  color: #1a3c6e;
  box-shadow: 0 10px 25px rgba(26, 60, 110, .18);
}

.btnWhite:hover .arrow {
  transform: translateX(8px);
}

/* ===========================
   INTRO
=========================== */
.intro {
  width: 100%;
  padding: 80px 60px;
  background: url('../assets/conatiners/premiumContainer/section2.png') no-repeat;
  background-position: center;
  background-size: contain;
  background-color: #f7f7f753;
}

.introText {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.introText h2 {
  margin-top: 10px;
  font-size: 55px;
  font-weight: 400;
  color: #111;
  line-height: 1.2;
}

.introText span {
  color: #1a3c6e;
}

.introLine {
  width: 120px;
  height: 3px;
  border-radius: 20px;
  background-color: #0d2244;
}

/* right side */

.introGrid {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: start;
}

.introVisuals {
  display: flex;
  gap: 10px;
}

.imgMain {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  overflow: hidden;
  cursor: pointer;
  border-radius: 12px;
}

.imgMain img {
  width: 228px;
  height: 173px;
  border-radius: 12px;
  object-fit: cover;
  object-position: center;
  transition: transform 0.6s ease, filter 0.6s ease;
}


.imgMain:hover img {
  transform: scale(1.08);
  filter: brightness(0.75);
}

.imgSub {
  width: 450px;
  height: 372px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.imgSub img {
  width: 100%;
  height: 100%;
  background-position: center;
  background-size: cover;
  border-radius: 12px;
  transition: transform 0.6s ease, filter 0.6s ease;
}

.imgSub:hover img {
  transform: scale(1.08);
  filter: brightness(0.75);
}

/* left */
.introContent {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  max-width: 630px;
}

.introContent p {
  font-size: 16px;
  color: #555;
  line-height: 1.8;
  margin-bottom: 10px;
}


.btnOutline {
  width: 190px;
  height: 54px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background: #1a3c6e;
  color: #fff;
  border: 2px solid #1a3c6e;
  border-radius: 50px;
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s ease;
}

.btnOutline:hover {
  background: #fff;
  color: #1a3c6e;
}

.iconWrap {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

.icon1,
.icon2 {
  position: absolute;
  top: 0;
  transition: transform .35s ease;
}


.icon1 {
  left: 0;
}

.icon2 {
  left: -22px;
}

.btnOutline:hover .icon1 {
  transform: translateX(24px);
}

.btnOutline:hover .icon2 {
  transform: translateX(24px);
}

/* ===========================
   WHY CHOOSE
=========================== */
.whySec {
  width: 100%;
  padding: 71px 60px;
  background-color: #f7f7f753;
}

.whyText {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 60px;
}

.whyText h2 {
  font-size: 55px;
  font-weight: 400;
  color: #111;
  line-height: 1.2;
}

.WhyLine {
  width: 120px;
  height: 3px;
  border-radius: 20px;
  background: #0d2244;
}

.whyText h2 span {
  color: #1a3c6e;
}

.whyGrid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.whyContent {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 20px;
  max-width: 630px;
}

.whyContent p {
  font-size: 16px;
  line-height: 1.8;
  margin-bottom: 10px;
}

.whyImagesCol {
  display: flex;
  gap: 14px;
}

.whyImgTop {
  width: 460px;
  height: 290px;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.whyImgTop img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  transition: transform 0.6s ease, filter 0.6s ease;
}

.whyImgTop:hover img {
  transform: scale(1.08);
  filter: brightness(0.75);
}


.whyImgBottom {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  border-radius: 12px;
  overflow: hidden;
  cursor: pointer;
}

.whyImgBottom img {
  width: 228px;
  height: 160px;
  object-fit: cover;
  object-position: center;
  border-radius: 12px;
  transition: transform 0.6s ease, filter 0.6s ease;
}

.whyImgBottom:hover img {
  transform: scale(1.08);
  filter: brightness(0.75);
}



/* ===========================
   SIZES
=========================== */
.sizesSec {
  width: 100%;
  padding: 71px 60px;
  background-color: #f7f7f753;

}

.secHeaderCenter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}


.secHeadText {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}



.secHeadText h2 {
  font-size: 55px;
  font-weight: 400;
  color: #111;
  line-height: 1.2;
}

.secHeadLine {
  width: 120px;
  height: 3px;
  border-radius: 20px;
  background: #0d2244;
}

.secHeadTextt span {
  color: #293F67;
}

.secHeaderCenter p {
  font-size: 15px;
  line-height: 1.7;
  max-width: 480px;
  font-weight: 500;
}

.sliderWrapper {
  width: 100%;
  overflow: hidden;
}

.sliderTrack {
  display: flex;
  gap: 28px;
  transition: transform 0.8s ease-in-out;
  will-change: transform;
}



.card {
  flex: 0 0 calc((100% - 56px) / 3);
  min-height: 595px;
  background: #fff;
  border-radius: 10px;
  padding: 28px 26px;
  border: 1px solid #e6e6e6;
  position: relative;
  overflow: hidden;
  transition: all .45s ease;
}



.card::before {
  content: "";
  position: absolute;
  inset: 100% 0 0 0;
  background: #314B79;
  transition: inset .45s ease;
  z-index: 0;
}

.card:hover::before {
  inset: 0;
}

.card>* {
  position: relative;
  z-index: 2;
}

.card:hover {
  transform: translateY(-8px);
  box-shadow: 0 20px 45px rgba(0, 0, 0, .15);
}


.darkCard {
  background: #314B79;
  color: #fff;
}

.darkCard::before {
  background: #20375d;
}

.darkCard h2,
.darkCard li,
.darkCard .icon {
  color: #fff;
}

.darkCard .line {
  background: rgba(255, 255, 255, .85);
}

.icon {
  width: 52px;
  height: 52px;
  color: #314B79;
  margin-bottom: 22px;
  transition: .35s;
}

.card:hover .icon {
  transform: rotate(-8deg) scale(1.1);
  color: #fff;
}



.card h2 {
  font-size: 23px;
  font-weight: 500;
  color: #111;
  line-height: 1.4;
  margin-bottom: 18px;
  transition: .35s;
}

.card:hover h2 {
  color: #fff;
}



.line {
  width: 92px;
  height: 2px;
  background: #314B79;
  margin-bottom: 22px;
  transition: .35s;
}

.card:hover .line {
  background: #fff;
}



.card ul {
  margin: 0;
  padding-left: 18px;
}

.card li {
  font-size: 17px;
  line-height: 1.9;
  color: #333;
  transition: .35s;
}

.card:hover li {
  color: #fff;
}



.controls {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 16px;
  margin-bottom: 60px;
}

.controls button {
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  background: #314B79;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: .35s;
}

.controls button:hover {
  background: #1d2f52;
  transform: translateY(-3px);
}

/* ===========================
   ENGINEERING BAND
=========================== */
.engineeringBand {
  background: #1e3a5f;
  color: #fff;
  padding: 70px 8%;
}

.bandContainer {
  display: flex;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}

.bandText {
  flex: 1;
}

.bandText h2 {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.35;
  margin-bottom: 20px;
}

.bandText p {
  font-size: 0.93rem;
  line-height: 1.8;
  color: #a0b4cc;
}

.bandImgWrapper {
  flex: 1;
}

.bandImgWrapper img {
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  max-height: 360px;
}

/* ===========================
   APPLICATIONS
=========================== */
.appsSec {
  width: 100%;
  padding: 71px 60px;
  background-color: #f7f7f753;
}


.appsHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;
}


.appsText {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.appsText h2 {
  font-size: 55px;
  font-weight: 400;
  color: #111;
  line-height: 1.2;
}

.appsText h2 span {
  color: #293F67;
}

.appsLine {
  width: 120px;
  height: 3px;
  border-radius: 20px;
  background: #0d2244;
}

.appsHeader p {
  max-width: 420px;
  font-size: 15px;
  color: #666;
  line-height: 1.7;
  margin-top: 8px;
}

.expertiseGrid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 18px;
}

.expCard {
  position: relative;
  overflow: hidden;
  height: 400px;
  border-radius: 8px;
  cursor: pointer;
}

.expImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: .6s;
}

.expCard:hover .expImg {
  transform: scale(1.08);
}

/* Bottom Blue Box */

.expLabel {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background: rgba(41, 63, 103, .92);
  padding: 20px;
  height: 78px;
  transition: height .45s ease;
  box-sizing: border-box;
}

.expCard:hover .expLabel {
  height: 180px;
}

/* Title */

.expLabel h4 {
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  margin: 0;
}

/* Hidden Description */

.desc {
  margin-top: 18px;
  opacity: 0;
  transform: translateY(30px);
  transition: .35s ease;
}

.expCard:hover .desc {
  opacity: 1;
  transform: translateY(0);
}

.desc p {
  color: rgba(255, 255, 255, .95);
  font-size: 15px;
  line-height: 1.6;
  margin: 0;
}


/* ===========================
   FAQ
=========================== */
.faqSec {
  padding: 80px 60px;
  background-color: #f7f7f753;
}


.introLabel {
  background: #fff;
  padding: 6px 20px;
  border-radius: 40px;
  font-size: 15px;
  margin-bottom: 17px;
  border: 1px solid #e5e7eb;
}

.faqHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 40px;
  align-items: start;
}

.faqText {
  display: flex;
  justify-content: start;
  align-items: start;
  flex-direction: column;
  gap: 10px;
}

.faqText h2 {
  font-size: 55px;
  font-weight: 400;
  line-height: 1.2;
  color: #111;
}

.faqText h2 span {
  color: #1a3c6e;
}

.FaqsLine {
  width: 120px;
  height: 3px;
  border-radius: 20px;
  background: #0d2244;
}

.faqHeader p {
  font-size: 15px;
  color: #555;
  line-height: 1.7;
  padding-top: 8px;
  max-width: 470px;
}


.faqBody {
  display: flex;
  justify-content: space-between;
  align-items: start;
  gap: 40px;
}

.faqImg {
  width: 640px;
  height: 410px;
  overflow: hidden;
  position: relative;
  border-radius: 12px;
  cursor: pointer;
}

.faqImg img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: transform .6s ease;
}

.faqImg::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0);
  transition: background .6s ease;
}

.faqImg:hover img {
  transform: scale(1.08);
}

.faqImg:hover::after {
  background: rgba(0, 0, 0, .45);
}


.container {
  max-width: 720px;
  margin: 0 auto;
}

.faqItem {
  width: 100%;
  background: #fff;
  margin-bottom: 14px;
  overflow: hidden;
  box-shadow: 0 4px 18px rgba(0, 0, 0, 0.08);
  transition: all 0.35s ease;
}

.faqItem:hover {
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.12);
}

.question {
  height: 70px;
  padding: 0 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  cursor: pointer;
  transition: 0.35s;
}

.question h3 {
  margin: 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
}

.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #2F4673;
  transition: transform 0.35s ease;
  margin-top: 20px;
}

.active .icon {
  transform: rotate(180deg);
  color: #fff;
}

/* Active Card */

.active {
  background: #2F4673;
}

.active .question {
  color: #fff;
}

.active .question h3 {
  color: #fff;
}

.answerWrapper {
  max-height: 0;
  overflow: hidden;
  transition: max-height .45s ease;
}

.open {
  max-height: 200px;
}

.answer {
  padding: 0 30px 26px;
}

.answer p {
  margin: 0;
  color: #fff;
  font-size: 15px;
  line-height: 1.6;
  max-width: 740px;
}

/* ===========================
   CTA BANNER
=========================== */
.cta {
  width: 100%;
  background: url('../assets/conatiners/premiumContainer/cta.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 40px 60px;
}

.cta h2 {
  font-size: 60px;
  font-weight: 600;
}

.cta p {
  font-size: 0.97rem;
  opacity: 0.85;
  max-width: 560px;
  line-height: 1.7;
  text-align: center;
  margin-bottom: 20px;
}

.contactBtn {
  width: 267px;
  height: 54px;
  padding: 0 28px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  background: #1a3c6e;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  overflow: hidden;
  transition: all .35s ease;
}

.contactText {
  font-size: 15px;
  font-weight: 600;
  transition: .35s;
}

.contactBtn:hover {
  background: #fff;
  color: #1a3c6e;
  box-shadow: 0 12px 30px rgba(26, 60, 110, .18);
}



.iconBox {
  position: relative;
  width: 18px;
  height: 18px;
  overflow: hidden;
}

.iconOne,
.iconTwo {
  position: absolute;
  top: 0;
  left: 0;
  transition: transform .35s ease;
}



.iconOne {
  transform: translateX(0);
}



.iconTwo {
  transform: translateX(-24px);
}



.contactBtn:hover .iconOne {
  transform: translateX(24px);
}

.contactBtn:hover .iconTwo {
  transform: translateX(0);
}

.contactBtn:hover .contactText {
  transform: translateX(-3px);
}

.btnBlue:hover {
  background: #2550a0;
}

/* ===========================
   RESPONSIVE
=========================== */
@media (max-width: 1024px) {
  .appsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .sizesGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  .hero {
    padding: 80px 6%;
    min-height: 420px;
  }

  .mainTitle {
    font-size: 2.4rem;
  }

  .introGrid,
  .whyGrid,
  .bandContainer,
  .faqInner,
  .appsHeader {
    grid-template-columns: 1fr;
    flex-direction: column;
  }

  .introVisuals {
    height: 240px;
  }

  .whyImagesCol {
    height: 260px;
  }

  .faqSideImg {
    height: 220px;
  }

  .sizesGrid {
    grid-template-columns: 1fr;
  }

  .appsGrid {
    grid-template-columns: repeat(2, 1fr);
  }

  .secTitle {
    font-size: 1.6rem;
  }

  .faqTopRow {
    flex-direction: column;
    gap: 12px;
  }

  .faqSubtext {
    max-width: 100%;
  }

  .activeCard {
    transform: none;
  }
}

@media (max-width: 480px) {
  .appsGrid {
    grid-template-columns: 1fr;
  }
}