.hero {
  position: relative;
  width: 100%;
  height: 75vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  z-index: 1;
}

.overlay {
  position: absolute;
  inset: 0;
  z-index: 2;
  background: linear-gradient(90deg,
      rgba(24, 24, 24, .92) 0%,
      rgba(24, 24, 24, .78) 38%,
      rgba(24, 24, 24, .48) 65%,
      rgba(24, 24, 24, .78) 100%);
}

/* =========================
   MAIN CONTAINER
========================= */

.container {
  width: 1400px;
  height: 100%;
  margin: auto;
  position: relative;
  z-index: 5;
}

/* =========================
   LEFT CONTENT
========================= */

.leftContent {
  position: absolute;
  left: 30px;
  top: 85px;
  width: 1040px;
  z-index: 6;
}

.company {
  display: block;
  color: #ffffff;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 16px;
  letter-spacing: .5px;
}

.title {
  margin: 0;
  font-size: 64px;
  line-height: 1.08;
  font-weight: 700;
  color: #fff;
  text-transform: uppercase;
}

.description {
  margin-top: 34px;
  color: #efefef;
  font-size: 17px;
  line-height: 1.55;
  max-width: 500px;
}

/* =========================
   BUTTON
========================= */

.heroBtn {
  margin-top: 40px;
  width: 205px;
  height: 54px;
  border: none;
  border-radius: 5px;
  background: #2C4675;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 22px;
  cursor: pointer;
  font-size: 17px;
  transition: .35s;
}

.heroBtn:hover {
  background: #385890;
  transform: translateY(-4px);
}

.arrow {
  font-size: 28px;
  transition: .35s;
}

.heroBtn:hover .arrow {
  transform: translateX(8px);
}

/* =========================
   WATERMARK
========================= */

.watermark {
  position: absolute;
  left: 50%;
  top: 48%;
  transform: translate(-50%, -50%);
  width: 100%;
  z-index: 3;
  pointer-events: none;
  overflow: hidden;
}

.watermark h1 {
  margin: 0;
  text-align: center;
  white-space: nowrap;
  font-size: 82px;
  font-weight: 700;
  color: rgba(255, 255, 255, .08);
  text-transform: uppercase;
  letter-spacing: 3px;
}

/* =========================
   BUILDING IMAGE
========================= */

.centerImage {
  position: absolute;
  bottom: 0;
  left: 47%;
  transform: translateX(-50%);
  width: 720px;
  z-index: 4;
}

.centerImage img {
  width: 100%;
  display: block;
  object-fit: contain;
}

/* =========================
   RIGHT STATS CARD
========================= */

.statsCard {
  position: absolute;
  right: 30px;
  bottom: 45px;

  width: 318px;
  height: 260px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 12px;
  overflow: hidden;

  z-index: 20;
}

.statBox {
  padding: 10px 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid rgba(255, 255, 255, .18);
  border-bottom: 1px solid rgba(255, 255, 255, .18);
}

.statBox:nth-child(2),
.statBox:nth-child(4) {
  border-right: none;
}

.statBox:nth-child(3),
.statBox:nth-child(4) {
  border-bottom: none;
}

.statBox h2 {
  margin: 0 0 12px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
}

.statBox p {
  margin: 0;
  color: rgba(255, 255, 255, .9);
  font-size: 13px;
  line-height: 1.45;
  font-weight: 400;
}

/* right down */


/* ==========================
   SLIDES
========================== */

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, transform 1.2s ease;
  transform: scale(1.08);
  z-index: 1;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 2;
}


/* ==========================
   ARROWS
========================== */

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 52px;
  height: 52px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  background: rgba(255, 255, 255, 0.18);
  backdrop-filter: blur(10px);
  transition: 0.35s ease;
  z-index: 20;

  opacity: 0;
  visibility: hidden;
}

.hero:hover .arrow {
  opacity: 1;
  visibility: visible;
}

.left {
  left: 30px;
}

.right {
  right: 30px;
}

.arrow:hover {
  background: #293f67;
  color: #fff;
  transform: translateY(-50%) scale(1.08);
}

/* ==========================
   ANIMATIONS
========================== */

.active .subtitle {
  animation: fadeUp 0.8s ease forwards;
}

.active .title {
  animation: fadeUp 1s ease forwards;
}

.active .description {
  animation: fadeUp 1.2s ease forwards;
}

.active .button {
  animation: fadeUp 1.4s ease forwards;
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(45px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width:1400px) {

  .container {
    width: 94%;
  }

  .leftContent {
    width: 650px;
    top: 70px;
  }

  .title {
    font-size: 50px;
  }

  .description {
    font-size: 16px;
    max-width: 470px;
  }

  .centerImage {
    width: 600px;
  }

  .statsCard {
    width: 290px;
    height: 235px;
  }

  .watermark h1 {
    font-size: 68px;
  }

}

@media (max-width:1200px) {

  .container {
    width: 95%;
  }

  .leftContent {
    width: 560px;
    top: 65px;
  }

  .title {
    font-size: 42px;
  }

  .description {
    font-size: 15px;
  }

  .heroBtn {
    width: 180px;
    height: 48px;
    font-size: 15px;
  }

  .centerImage {
    width: 520px;
  }

  .statsCard {
    width: 260px;
    height: 210px;
  }

  .statBox h2 {
    font-size: 18px;
  }

  .statBox p {
    font-size: 12px;
  }

  .watermark h1 {
    font-size: 58px;
  }

}


@media (max-width:992px) {
  .hero {
    min-height: 110vh;
  }

  .container {
    width: 92%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding-top: 60px;
  }

  .leftContent {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    text-align: center;
  }

  .title {
    font-size: 40px;
  }

  .description {
    margin: 25px auto 0;
    max-width: 600px;
  }

  .heroBtn {
    margin: 30px auto;
  }

  .centerImage {
    position: relative;
    left: 0;
    transform: none;
    width: 520px;
    margin-top: 30px;
  }


  .statsCard {
    position: relative;
    margin: 35px auto 50px;
  }

  .watermark {
    display: none;
  }

  .arrow {
    width: 46px;
    height: 46px;
  }

  .statsCard {
    position: static;
    margin: 35px auto 0;
    width: 100%;
    max-width: 900px;
    height: auto;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    background: rgba(255, 255, 255, .12);
    backdrop-filter: blur(18px);
    border-radius: 12px;
    overflow: hidden;
  }

  .statBox {
    flex: 1;
    padding: 18px 12px;
    text-align: center;
    border-right: 1px solid rgba(255, 255, 255, .18);
    border-bottom: none;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .statBox:last-child {
    border-right: none;
  }

  .statBox h2 {
    font-size: 22px;
    margin-bottom: 8px;
  }

  .statBox p {
    font-size: 13px;
    line-height: 1.4;
  }


}


@media (max-width:768px) {

  .title {
    font-size: 34px;
    line-height: 1.2;
  }

  .description {
    font-size: 15px;
  }

  .heroBtn {
    width: 170px;
    height: 46px;
  }

  .centerImage {
    width: 430px;
  }

  .statsCard {
    position: static;
    width: 100%;
    height: auto;
    margin: 30px auto 0;

    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: stretch;

    border-radius: 10px;
    overflow: hidden;
  }

  .statBox {
    flex: 1;
    padding: 14px 8px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    border-right: 1px solid rgba(255, 255, 255, .18);
    border-bottom: none;
  }

  .statBox:last-child {
    border-right: none;
  }

  .statBox h2 {
    font-size: 18px;
    margin-bottom: 6px;
  }

  .statBox p {
    font-size: 11px;
    line-height: 1.3;
  }

  .watermark {
    display: none;
  }

  .left {
    left: 12px;
  }

  .right {
    right: 12px;
  }

}

@media (max-width:576px) {

  .container {
    width: 94%;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .title {
    font-size: 28px;
    line-height: 1.25;
  }

  .description {
    font-size: 14px;
    line-height: 1.6;
  }

  .centerImage {
    width: 320px;
    margin: 20px auto;
  }

  .statsCard {
    position: static;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .statBox {
    min-height: 95px;
    padding: 16px;
    border-right: 1px solid rgba(255, 255, 255, .15);
    border-bottom: 1px solid rgba(255, 255, 255, .15);
  }

  .statBox:nth-child(2),
  .statBox:nth-child(4) {
    border-right: none;
  }

  .statBox:nth-child(3),
  .statBox:nth-child(4) {
    border-bottom: none;
  }

}

@media (max-width:480px) {

  .title {
    font-size: 24px;
  }

  .description {
    font-size: 13px;
  }

  .centerImage {
    width: 280px;
  }

  .statBox {
    min-height: 90px;
    padding: 14px 10px;
  }

  .statBox h2 {
    font-size: 17px;
  }

  .statBox p {
    font-size: 11px;
  }

}

@media (max-width:430px) {

  .title {
    font-size: 22px;
  }

  .centerImage {
    width: 250px;
  }

  .statBox {
    min-height: 85px;
    padding: 12px 8px;
  }

}

@media (max-width:390px) {

  .title {
    font-size: 20px;
  }

  .description {
    font-size: 12px;
  }

  .centerImage {
    width: 230px;
  }

  .statBox {
    min-height: 80px;
    padding: 10px 6px;
  }

  .statBox h2 {
    font-size: 15px;
  }

  .statBox p {
    font-size: 10px;
  }

}

@media (max-width:360px) {

  .title {
    font-size: 18px;
  }

  .description {
    font-size: 11px;
  }

  .centerImage {
    width: 210px;
  }

  .statBox {
    min-height: 75px;
    padding: 8px 5px;
  }

  .statBox h2 {
    font-size: 14px;
  }

  .statBox p {
    font-size: 9px;
  }

}

@media (max-width:320px) {

  .title {
    font-size: 16px;
  }

  .description {
    font-size: 10px;
  }

  .centerImage {
    width: 190px;
  }

  .statBox {
    min-height: 70px;
    padding: 6px 4px;
  }

  .statBox h2 {
    font-size: 13px;
  }

  .statBox p {
    font-size: 8px;
  }

}

/* ======================================================================== */

/* slider 2 */
.subtitle {
  color: white;
}





/* ================================================= */

/* slider 2 */



.heroPanel {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, transform 1.2s ease;
  transform: scale(1.08);
  z-index: 1;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 2;
}

.heroBg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* text */

.heroHeading {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

.heroHeading h3 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  letter-spacing: .5px;
  margin-bottom: 8px;
}

.heroHeading h1 {
  font-size: 40px;
  font-weight: 400;
  color: #fff;
  line-height: 1.18;
  max-width: 1440px;
  margin: auto;
}

/* left down */

.heroContent {
  padding-left: 40px;
  position: absolute;
  left: 55px;
  bottom: 80px;
  width: 420px;
  z-index: 5;
}

.heroContent p {
  color: #efefef;
  font-size: 17px;
  line-height: 1.55;
  max-width: 500px;
  margin-bottom: 30px;
}

.heroBtn {
  width: 205px;
  height: 54px;
  border: none;
  background: #294374;
  color: #fff;
  border-radius: 3px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;

  font-size: 16px;
  font-weight: 500;

  transition: .35s;
}

.heroArrow {
  transition: .35s;
}

.heroBtn:hover {
  background: #fff;
  color: #294374;
}

.heroBtn:hover .heroArrow {
  transform: translateX(8px);
}

/* down Image */

.productImage {
  position: absolute;
  left: 53%;
  bottom: 20px;
  transform: translateX(-50%);
  width: 760px;
  z-index: 4;
}

.productImage img {
  width: 90%;
  display: block;
  transition: .6s;
}

.productImage:hover img {
  transform: translateY(-10px) scale(1.03);
}

/* right down */

.heroStatsCard {
  position: absolute;
  right: 90px;
  bottom: 60px;
  width: 320px;
  height: 230px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background: rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 12px;
  overflow: hidden;

  z-index: 20;
}

.heroStatItem {
  padding: 10px 18px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  border-right: 1px solid rgba(255, 255, 255, .18);
  border-bottom: 1px solid rgba(255, 255, 255, .18);
}

.heroStatItem:nth-child(2),
.heroStatItem:nth-child(4) {
  border-right: none;
}

.heroStatItem:nth-child(3),
.heroStatItem:nth-child(4) {
  border-bottom: none;
}

.heroStatItem h2 {
  margin: 0 0 12px;
  font-size: 20px;
  font-weight: 500;
  color: #fff;
  line-height: 1;
}

.heroStatItem p {
  margin: 0;
  color: rgba(255, 255, 255, .9);
  font-size: 13px;
  line-height: 1.45;
  font-weight: 400;
}


@media (max-width:1400px) {

  .heroHeading h3 {
    font-size: 36px;
  }

  .heroHeading h1 {
    font-size: 36px;
    max-width: 1100px;
  }

  .productImage {
    width: 650px;
  }

  .heroContent {
    left: 25px;
  }

  .heroStatsCard {
    right: 40px;
  }

}




@media (max-width:1200px) {

  .heroHeading h3 {
    font-size: 34px;
  }

  .heroHeading h1 {
    font-size: 34px;
    max-width: 900px;
  }

  .heroContent {
    width: 360px;
    left: 15px;
    bottom: 60px;
  }

  .heroContent p {
    font-size: 15px;
  }

  .productImage {
    width: 560px;
    bottom: 15px;
  }

  .heroStatsCard {
    width: 280px;
    height: 210px;
    right: 20px;
  }

  .heroStatItem h2 {
    font-size: 18px;
  }

  .heroStatItem p {
    font-size: 12px;
  }

}




@media (max-width:992px) {

  .heroHeading {
    top: 40px;
  }

  .heroHeading h3 {
    font-size: 30px;
  }

  .heroHeading h1 {
    font-size: 28px;
    max-width: 760px;
  }

  .heroContent {
    left: 50%;
    transform: translateX(-50%);
    top: 210px;
    width: 90%;
    text-align: center;
    padding-left: 0;
  }

  .heroContent p {
    max-width: 600px;
    margin: 0 auto 25px;
  }

  .heroBtn {
    margin: auto;
  }

  .productImage {
    width: 500px;
    left: 50%;
    bottom: 18%;
  }

  .heroStatsCard {

    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: 15px;

    width: 92%;
    max-width: 720px;
    height: auto;

    display: flex;
    justify-content: space-between;
  }

  .heroStatItem {
    flex: 1;
    text-align: center;
    border-bottom: none;
  }

  .heroStatItem:last-child {
    border-right: none;
  }

}


@media (max-width:768px) {

  .heroHeading {
    top: 30px;
  }

  .heroHeading h3 {
    font-size: 22px;
  }

  .heroHeading h1 {
    font-size: 22px;
    line-height: 1.3;
    padding: 0 20px;
  }

  .heroContent {
    position: absolute;
    top: 170px;
    left: 50%;
    transform: translateX(-50%);
    width: 90%;
    text-align: center;
    padding-left: 0;
  }

  .heroContent p {
    font-size: 14px;
    margin: 18px auto 25px;
    max-width: 520px;
  }

  .heroBtn {
    margin: auto;
    width: 180px;
    height: 48px;
  }

  .productImage {
    left: 50%;
    transform: translateX(-50%);
    width: 420px;
    bottom: 150px;
  }

  .heroStatsCard {
    width: 94%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px;
    display: flex;
  }

  .heroStatItem {
    padding: 12px 6px;
    text-align: center;
  }

}



@media (max-width:576px) {

  .heroHeading {
    top: 25px;
  }

  .heroHeading h3 {
    font-size: 18px;
  }

  .heroHeading h1 {
    font-size: 18px;
    padding: 0 15px;
  }

  .heroContent {
    top: 145px;
    width: 92%;
  }

  .heroContent p {
    font-size: 13px;
    margin-bottom: 20px;
  }

  .heroBtn {
    width: 170px;
    height: 46px;
    font-size: 14px;
  }

  .productImage {
    width: 340px;
    bottom: 170px;
  }

  .heroStatsCard {
    width: 95%;
    bottom: 15px;
  }

  .heroStatItem h2 {
    font-size: 16px;
  }

  .heroStatItem p {
    font-size: 11px;
  }

}



@media (max-width:480px) {

  .heroHeading h3 {
    font-size: 16px;
  }

  .heroHeading h1 {
    font-size: 16px;
  }

  .heroContent {
    top: 135px;
  }

  .heroContent p {
    font-size: 12px;
    line-height: 1.6;
  }

  .heroBtn {
    width: 155px;
    height: 44px;
    font-size: 13px;
  }

  .productImage {
    width: 300px;
    bottom: 180px;
  }

  .heroStatsCard {
    overflow-x: auto;
  }

  .heroStatItem {
    min-width: 110px;
  }

}


@media (max-width:430px) {

  .heroHeading h3 {
    font-size: 15px;
  }

  .heroHeading h1 {
    font-size: 15px;
  }

  .heroContent {
    top: 125px;
  }

  .heroContent p {
    font-size: 11px;
  }

  .productImage {
    width: 280px;
    bottom: 185px;
  }



}


@media (max-width:430px) {

  .heroStatsCard {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 15px;

    width: 92%;
    height: auto;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);

    overflow: visible;
  }

  .heroStatItem {
    min-width: unset;
    padding: 14px 10px;
    text-align: center;

    border-right: 1px solid rgba(255, 255, 255, .18);
    border-bottom: 1px solid rgba(255, 255, 255, .18);
  }

  .heroStatItem:nth-child(2),
  .heroStatItem:nth-child(4) {
    border-right: none;
  }

  .heroStatItem:nth-child(3),
  .heroStatItem:nth-child(4) {
    border-bottom: none;
  }

  .heroStatItem h2 {
    font-size: 16px;
  }

  .heroStatItem p {
    font-size: 11px;
    line-height: 1.4;
  }

}


@media (max-width:490px) {

  .heroHeading {
    top: 20px;
  }

  .heroHeading h3 {
    font-size: 14px;
  }

  .heroHeading h1 {
    font-size: 14px;
  }

  .heroContent {
    top: 120px;
  }

  .heroContent p {
    font-size: 10px;
  }

  .heroBtn {
    width: 145px;
    height: 42px;
  }

  .productImage {
    width: 250px;
    bottom: 190px;
  }

}

/* ================= 390px ================= */

@media (max-width:390px) {

  .heroStatsCard {
    width: 94%;
    left: 50%;
    transform: translateX(-50%);
    bottom: 12px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0;
  }

  .heroStatItem {
    padding: 12px 8px;
  }

  .heroStatItem h2 {
    font-size: 15px;
  }

  .heroStatItem p {
    font-size: 10px;
    line-height: 1.4;
  }

}


@media (max-width:360px) {

  .heroHeading h3 {
    font-size: 14px;
  }

  .heroHeading h1 {
    font-size: 14px;
  }

  .heroContent {
    bottom: 115px;
  }

  .heroContent p {
    font-size: 10px;
  }

  .heroBtn {
    width: 135px;
    height: 40px;
    font-size: 12px;
  }

  .productImage {
    width: 400px;
  }

  .heroStatsCard {
    width: 95%;
    bottom: 10px;
  }

  .heroStatItem {
    padding: 10px 6px;
  }

  .heroStatItem h2 {
    font-size: 14px;
  }

  .heroStatItem p {
    font-size: 9px;
    line-height: 1.4;
  }

}


@media (max-width:320px) {

  .heroHeading h3 {
    font-size: 13px;
  }

  .heroHeading h1 {
    font-size: 13px;
  }

  .heroContent {
    bottom: 110px;
  }

  .heroContent p {
    font-size: 9px;
  }

  .heroBtn {
    width: 125px;
    height: 38px;
    font-size: 11px;
  }

  .productImage {
    width: 180px;
  }

  .heroStatsCard {
    width: 96%;
    bottom: 8px;
  }

  .heroStatItem {
    padding: 8px 5px;
  }

  .heroStatItem h2 {
    font-size: 13px;
  }

  .heroStatItem p {
    font-size: 8px;
    line-height: 1.3;
  }
}


/* =========slider3========================= */

/* image3 */

.HomeSlider {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transition: opacity 1s ease, transform 1.2s ease;
  transform: scale(1.08);
  z-index: 1;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 2;
}

.heroShape {
  position: absolute;
  top: 0;
  right: 0;
  width: 44%;
  height: 100%;
  background: #324a79;
  clip-path: polygon(100% 0, 100% 100%, 0 100%);
  z-index: 1;
}

.heroContainer {
  padding-top: 80px;
  width: 1400px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: start;
  position: relative;
}

.heroContents {
  z-index: 5;
  position: relative;
}


.heroTitle {
  margin: 0;
  width: 100%;
  font-size: 68px;
  line-height: 1;
  font-weight: 700;
  color: #5d76a9;
  letter-spacing: -2px;
}

.heroSubTitle {
  margin-top: 28px;
  margin-bottom: 24px;
  font-size: 30px;
  font-weight: 500;
  color: #111;
  line-height: 1.2;
}

.heroDescription {
  width: 620px;
  margin: 0;
  font-size: 17px;
  line-height: 1.2;
  color: #0000009a;
}

.heroButton {
  margin-top: 42px;
  width: 210px;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  border: none;
  border-radius: 4px;
  background: #324a79;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  transition: .35s ease;
}

.heroButton svg {
  transition: .35s;
}

.heroButton:hover {
  background: #1f3561;
}

.heroButton:hover svg {
  transform: translateX(8px);
}


.heroStats {
  position: absolute;
  left: 1px;
  bottom: -130px;
  color: white;

  width: 500px;
  height: 80px;

  display: flex;
  align-items: center;
  gap: 18px;

  padding: 10px 16px;

  background: rgba(95, 95, 95, 0.92);
  backdrop-filter: blur(14px);
  -webkit-backdrop-filter: blur(14px);

  border-radius: 18px;
  z-index: 20;
}

/* Thumbnail */

.heroThumb {
  width: 82px;
  height: 60px;
  flex-shrink: 0;
  overflow: hidden;
  border-radius: 10px;
}

.heroThumb img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  display: block;
  transition: transform .5s ease;
}

.heroThumb:hover img {
  transform: scale(1.08);
}

/* Stat Item */

.heroStat {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.heroStatItem h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  line-height: 1;
}

.heroStat p {
  margin-top: 6px;
  font-size: 13px;
  color: rgba(255, 255, 255, 0.9);
  line-height: 1.4;
  white-space: nowrap;
}

/* Hover Effect */

.heroStats:hover {
  transform: translateY(-4px);
  transition: .35s ease;
  box-shadow: 0 18px 40px rgba(0, 0, 0, .25);
}

.heroImage {
  position: absolute;
  right: -20px;
  bottom: 0;
  width: 920px;
  z-index: 3;
}

.heroImage img {
  width: 100%;
  display: block;
}


@media (max-width:1440px) {

  .heroContainer {
    width: 92%;
  }

  .heroImage {
    width: 760px;
    right: 0;
  }

  .heroTitle {
    font-size: 56px;
  }

  .heroDescription {
    width: 560px;
  }

  .heroStats {
    width: 470px;
  }

}


@media (max-width:1366px) {

  .heroContainer {
    width: 92%;
  }

  .heroTitle {
    font-size: 52px;
  }

  .heroSubTitle {
    font-size: 26px;
  }

  .heroImage {
    width: 700px;
  }

  .heroDescription {
    width: 520px;
  }

  .heroStats {
    bottom: -120px;
  }

}


@media (max-width:1200px) {

  .heroContainer {
    width: 94%;
    padding-top: 70px;
  }

  .heroTitle {
    font-size: 46px;
  }

  .heroSubTitle {
    font-size: 24px;
  }

  .heroDescription {
    width: 460px;
    font-size: 16px;
  }

  .heroImage {
    width: 610px;
  }

  .heroStats {
    width: 430px;
    height: auto;
    gap: 12px;
    padding: 12px;
    bottom: -110px;
  }

  .heroShape {
    width: 46%;
  }

}

@media (max-width:992px) {

  .heroContainer {
    width: 92%;
    flex-direction: column;
    align-items: center;
    padding-top: 60px;
  }

  .heroContents {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    font-size: 44px;
  }

  .heroSubTitle {
    font-size: 24px;
  }

  .heroDescription {
    width: 100%;
    max-width: 650px;
  }

  .heroButton {
    margin-top: 30px;
  }

  .heroShape {
    width: 100%;
    height: 38%;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
    top: auto;
    bottom: 0;
  }

  .heroImage {
    position: relative;
    width: 650px;
    right: auto;
    margin-top: 40px;
  }

  .heroStats {
    position: relative;
    bottom: auto;
    left: auto;
    margin-top: 30px;
    width: 100%;
    max-width: 600px;
  }

}

@media (max-width:768px) {

  .HomeSlider {
    min-height: 900px;
  }

  .heroShape {
    width: 100%;
    height: 38%;
    top: auto;
    bottom: 0;
    clip-path: polygon(100% 0, 100% 100%, 0 100%);
  }

  .heroContainer {
    position: relative;
    width: 92%;
    min-height: 900px;
    margin: auto;
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .heroTitle {
    font-size: 38px;
    line-height: 1.15;
    letter-spacing: -1px;
  }

  .heroSubTitle {
    margin-top: 18px;
    margin-bottom: 20px;
    font-size: 22px;
  }

  .heroDescription {
    width: 100%;
    max-width: 620px;
    font-size: 15px;
    line-height: 1.7;
  }

  .heroButton {
    width: 190px;
    height: 50px;
    margin-top: 28px;
  }

  /* Image always bottom */

  .heroImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20%;

    width: 600px;
    right: auto;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

  /* Stats */

  .heroStats {
    width: 95%;
    max-width: 620px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px;
    gap: 12px;
  }

  .heroThumb {
    width: 80px;
    height: 60px;
  }

  .heroStat {
    flex: 1;
    text-align: center;
    align-items: center;
  }

  .heroStat h3 {
    font-size: 18px;
  }

  .heroStat p {
    font-size: 12px;
    line-height: 1.4;
  }

}

@media (max-width:576px) {

  .HomeSlider {
    min-height: 820px;
  }

  .heroShape {
    width: 100%;
    height: 35%;
    top: auto;
    bottom: 0;
  }

  .heroContainer {
    position: relative;
    width: 92%;
    min-height: 820px;
    padding-top: 35px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .heroTitle {
    font-size: 30px;
    line-height: 1.15;
    letter-spacing: -1px;
  }

  .heroSubTitle {
    font-size: 20px;
    margin: 16px 0;
  }

  .heroDescription {
    width: 100%;
    max-width: 500px;
    font-size: 14px;
    line-height: 1.7;
  }

  .heroButton {
    width: 170px;
    height: 46px;
    margin-top: 25px;
    font-size: 14px;
  }

  /* Stats */

  .heroStats {


    width: 95%;
    max-width: 420px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    padding: 14px;
    border-radius: 16px;
  }

  .heroThumb {
    display: none;
  }

  .heroStat {
    text-align: center;
    align-items: center;
  }

  .heroStat h3 {
    font-size: 18px;
  }

  .heroStat p {
    font-size: 11px;
    line-height: 1.4;
  }

  /* Image always bottom */

  .heroImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 13%;

    width: 500px;
    right: auto;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

}




@media (max-width:480px) {

  .HomeSlider {
    min-height: 780px;
  }

  .heroShape {
    width: 100%;
    height: 34%;
    top: auto;
    bottom: 0;
  }

  .heroContainer {
    position: relative;
    width: 94%;
    min-height: 780px;
    padding-top: 30px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContents {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .heroTitle {
    font-size: 26px;
    line-height: 1.15;
    letter-spacing: -1px;
  }

  .heroSubTitle {
    font-size: 18px;
    margin: 14px 0;
  }

  .heroDescription {
    width: 100%;
    max-width: 420px;
    font-size: 13px;
    line-height: 1.7;
  }

  .heroButton {
    width: 160px;
    height: 44px;
    margin-top: 20px;
    font-size: 14px;
  }

  /* Stats */

  .heroStats {
    width: 95%;
    max-width: 360px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    padding: 12px;
    border-radius: 14px;
  }

  .heroThumb {
    display: none;
  }

  .heroStat {
    text-align: center;
    align-items: center;
  }

  .heroStat h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .heroStat p {
    font-size: 10px;
    line-height: 1.4;
  }

  /* Image */

  .heroImage {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 8%;
    right: auto;

    width: 430px;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

}



@media (max-width:430px) {

  .HomeSlider {
    min-height: 740px;
  }

  .heroContainer {
    position: relative;
    width: 94%;
    margin: auto;
    min-height: 740px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    padding-top: 25px;
  }

  .heroContents {
    width: 100%;
    z-index: 5;

    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .heroTitle {
    font-size: 24px;
    line-height: 1.2;
  }

  .heroSubTitle {
    font-size: 17px;
    margin: 10px 0;
  }

  .heroDescription {
    max-width: 330px;
    font-size: 12px;
    line-height: 1.7;
  }

  .heroButton {
    width: 150px;
    height: 42px;
    font-size: 13px;
    margin-top: 18px;
  }

  /* ---------- Stats ---------- */

  .heroStats {
    position: relative;
    width: 100%;
    max-width: 320px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;

    margin: 25px auto 170px;
    z-index: 5;
  }

  .heroThumb {
    display: none;
  }

  .heroStat {
    padding: 12px 8px;
    text-align: center;
  }

  .heroStat h3 {
    font-size: 16px;
    margin-bottom: 4px;
  }

  .heroStat p {
    font-size: 10px;
    line-height: 1.4;
  }

  /* ---------- Image ---------- */

  .heroImage {
    position: absolute;
    left: 50%;
    bottom: 30px;
    transform: translateX(-50%);

    width: 380px;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

}

@media (max-width:390px) {

  .HomeSlider {
    min-height: 700px;
  }

  .heroContainer {
    position: relative;
    width: 95%;
    margin: auto;
    min-height: 700px;
    padding-top: 20px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContents {
    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .heroTitle {
    font-size: 22px;
    line-height: 1.2;
  }

  .heroSubTitle {
    font-size: 16px;
    margin: 10px 0;
  }

  .heroDescription {
    max-width: 300px;
    font-size: 11px;
    line-height: 1.6;
  }

  .heroButton {
    width: 145px;
    height: 40px;
    font-size: 13px;
    margin-top: 16px;
  }

  /* Stats */

  .heroStats {
    position: relative;
    width: 100%;
    max-width: 290px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    margin: 20px auto 155px;
    z-index: 5;
  }

  .heroThumb {
    display: none;
  }

  .heroStat {
    padding: 10px 8px;
    text-align: center;
    border-radius: 8px;
  }

  .heroStat h3 {
    font-size: 15px;
    margin-bottom: 3px;
  }

  .heroStat p {
    font-size: 9px;
    line-height: 1.3;
  }

  /* Image */

  .heroImage {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);

    width: 360px;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

}

@media (max-width:360px) {

  .HomeSlider {
    min-height: 660px;
  }

  .heroContainer {
    position: relative;
    width: 94%;
    margin: auto;
    min-height: 660px;
    padding-top: 18px;

    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .heroContents {

    margin-top: 3rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;
  }

  .heroTitle {
    font-size: 20px;
    line-height: 1.2;
  }

  .heroSubTitle {
    font-size: 15px;
    margin: 8px 0;
  }

  .heroDescription {
    max-width: 280px;
    font-size: 10px;
    line-height: 1.6;
  }

  .heroButton {
    width: 140px;
    height: 38px;
    font-size: 12px;
    margin-top: 15px;
  }

  /* ---------- Stats ---------- */

  .heroStats {
    position: relative;
    width: 100%;
    max-width: 270px;

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;

    margin: 18px auto 145px;
    z-index: 5;
  }

  .heroThumb {
    display: none;
  }

  .heroStat {
    padding: 8px 6px;
    text-align: center;
    border-radius: 8px;
  }

  .heroStat h3 {
    font-size: 14px;
    margin-bottom: 3px;
  }

  .heroStat p {
    font-size: 8px;
    line-height: 1.3;
  }

  /* ---------- Image ---------- */

  .heroImage {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 330px;
    z-index: 2;
  }

  .heroImage img {
    width: 100%;
    height: auto;
    display: block;
  }

}

@media (max-width:320px) {

  .HomeSlider{
    min-height:620px;
  }

  .heroContainer{
    position:relative;
    width:94%;
    margin:auto;
    min-height:620px;
    padding-top:15px;

    display:flex;
    flex-direction:column;
    align-items:center;
    text-align:center;
  }

  .heroContents{
    margin-top: 3rem;
    width:100%;
    display:flex;
    flex-direction:column;
    align-items:center;
    z-index:5;
  }

  .heroTitle{
    font-size:18px;
    line-height:1.2;
  }

  .heroSubTitle{
    font-size:14px;
    margin:8px 0;
  }

  .heroDescription{
    max-width:250px;
    font-size:9px;
    line-height:1.6;
  }

  .heroButton{
    width:130px;
    height:36px;
    font-size:11px;
    margin-top:14px;
  }

  /* ---------- Stats ---------- */

  .heroStats{
    position:relative;
    width:100%;
    max-width:240px;

    display:grid;
    grid-template-columns:repeat(2,1fr);
    gap:6px;

    margin:16px auto 125px;
    z-index:5;
  }

  .heroThumb{
    display:none;
  }

  .heroStat{
    padding:8px 5px;
    text-align:center;
    border-radius:6px;
  }

  .heroStat h3{
    font-size:13px;
    margin-bottom:2px;
  }

  .heroStat p{
    font-size:7px;
    line-height:1.2;
  }

  /* ---------- Image ---------- */

  .heroImage{
    position:absolute;
    left:50%;
    bottom:0;
    transform:translateX(-50%);
    width:280px;
    z-index:2;
  }

  .heroImage img{
    width:100%;
    height:auto;
    display:block;
  }

}


/* =================MS Slder 4============================= */


.containerHeroPanel {
  position: absolute;
  inset: 0;
  opacity: 0;
  visibility: hidden;
  transform: scale(1.08);
  transition: opacity 1s ease, transform 1.2s ease;
  z-index: 1;
}

.active {
  opacity: 1;
  visibility: visible;
  transform: scale(1);
  z-index: 2;
}


.containerHeroBg {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.containerOverlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.45);
  z-index: 2;
}


.containerHeading {
  position: absolute;
  top: 30px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  z-index: 5;
}

.containerHeading h3 {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  letter-spacing: .5px;
  margin-bottom: 5px;
}

.containerHeading h1 {
  max-width: 1440px;
  margin: auto;
  color: #fff;
  font-size: 70px;
  font-weight: 500;
  line-height: 1.2;
}

.containerContent {
  position: absolute;
  left: 80px;
  bottom: 60px;
  width: 430px;
  z-index: 5;
}

.containerContent p {
  color: rgba(255, 255, 255, .9);
  font-size: 17px;
  line-height: 1.7;
  margin-bottom: 28px;
}

.containerBtn {
  width: 215px;
  height: 56px;
  border: none;
  background: #294374;
  color: #fff;
  border-radius: 4px;
  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 14px;

  font-size: 15px;
  font-weight: 600;

  transition: .35s ease;
}

.containerArrow {
  transition: transform .35s ease;
}

.containerBtn:hover {
  background: #fff;
  color: #294374;
}

.containerBtn:hover .containerArrow {
  transform: translateX(8px);
}


.containerProductImage {
  position: absolute;
  left: 51%;
  bottom: -40px;
  transform: translateX(-50%);
  width: 690px;
  z-index: 4;
}

.containerProductImage img {
  width: 100%;
  display: block;
  transition: transform .6s ease;
}

.containerProductImage:hover img {
  transform: translateY(-12px) scale(1.04);
}

.containerStatsCard {
  position: absolute;
  right: 80px;
  bottom: 25px;

  width: 320px;
  height: 280px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);

  background: rgba(255, 255, 255, .12);
  backdrop-filter: blur(18px);
  -webkit-backdrop-filter: blur(18px);

  border-radius: 12px;
  overflow: hidden;

  z-index: 10;
}

.containerStatItem {
  display: flex;
  flex-direction: column;
  justify-content: center;

  padding: 15px;

  border-right: 1px solid rgba(255, 255, 255, .18);
  border-bottom: 1px solid rgba(255, 255, 255, .18);

  transition: .35s ease;
}

.containerStatItem:nth-child(2),
.containerStatItem:nth-child(4) {
  border-right: none;
}

.containerStatItem:nth-child(3),
.containerStatItem:nth-child(4) {
  border-bottom: none;
}

.containerStatItem h2 {
  color: #fff;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.containerStatItem p {
  color: rgba(255, 255, 255, .9);
  font-size: 13px;
  line-height: 1.5;
}

.containerStatItem:hover {
  background: rgba(255, 255, 255, .08);
}


@media (max-width:1400px) {

  .containerHeading h1 {
    font-size: 58px;
    max-width: 1200px;
  }

  .containerContent {
    left: 40px;
  }

  .containerProductImage {
    width: 620px;
  }

  .containerStatsCard {
    right: 40px;
  }

}


@media (max-width:1200px) {

  .containerHeading h3 {
    font-size: 18px;
  }

  .containerHeading h1 {
    font-size: 48px;
    max-width: 900px;
  }

  .containerContent {
    width: 360px;
    left: 20px;
    bottom: 40px;
  }

  .containerContent p {
    font-size: 15px;
  }

  .containerBtn {
    width: 190px;
    height: 50px;
  }

  .containerProductImage {
    width: 520px;
    bottom: -15px;
  }

  .containerStatsCard {
    width: 280px;
    height: 220px;
    right: 20px;
  }

  .containerStatItem h2 {
    font-size: 18px;
  }

  .containerStatItem p {
    font-size: 12px;
  }

}



@media (max-width:992px) {

  .containerHeading {
    top: 30px;
  }

  .containerHeading h3 {
    font-size: 18px;
  }

  .containerHeading h1 {
    font-size: 34px;
    padding: 0 20px;
  }

  .containerContent {

    left: 50%;
    transform: translateX(-50%);
    top: 180px;
    width: 90%;
    text-align: center;
  }

  .containerContent p {
    margin: 0 auto 22px;
    max-width: 650px;
  }

  .containerBtn {
    margin: auto;
  }

  .containerProductImage {

    left: 50%;
    width: 580px;
    top: 45%;
  }

  .containerStatsCard {

    left: 50%;
    transform: translateX(-50%);
    right: auto;
    bottom: 0;

    width: 95%;
    max-width: 720px;
    height: auto;

    display: flex;
    justify-content: space-between;
  }

  .containerStatItem {

    flex: 1;
    border-bottom: none;
    text-align: center;
  }

  .containerStatItem:last-child {
    border-right: none;
  }

}


@media (max-width:768px) {

  .containerHeading {
    top: 25px;
  }

  .containerHeading h3 {
    font-size: 16px;
  }

  .containerHeading h1 {
    font-size: 26px;
    line-height: 1.3;
    padding: 0 18px;
  }

  .containerContent {
    top: 155px;
    left: 50%;
    transform: translateX(-50%);
    width: 92%;
    text-align: center;
  }

  .containerContent p {
    font-size: 14px;
    max-width: 550px;
    margin: 0 auto 25px;
  }

  .containerBtn {
    margin: auto;
  }

  .containerProductImage {
    left: 50%;
    transform: translateX(-50%);
    width: 430px;
    top: 48%;
  }

  .containerStatsCard {
    width: 95%;
    bottom: 20px;
  }

}


@media (max-width:576px) {

  .containerHeading h3 {
    font-size: 15px;
  }

  .containerHeading h1 {
    font-size: 20px;
  }

  .containerContent {
    top: 135px;
  }

  .containerContent p {
    font-size: 13px;
  }

  .containerProductImage {
    width: 380px;
    top: 40%;
  }

  .containerStatsCard {
    left: 50%;
    transform: translateX(-50%);
    width: 94%;
    bottom: 15px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    height: auto;
  }

  .containerStatItem {

    min-width: unset;
    padding: 15px;

    border-right: 1px solid rgba(255, 255, 255, .18);
    border-bottom: 1px solid rgba(255, 255, 255, .18);

    text-align: center;
  }

  .containerStatItem:nth-child(2),
  .containerStatItem:nth-child(4) {
    border-right: none;
  }

  .containerStatItem:nth-child(3),
  .containerStatItem:nth-child(4) {
    border-bottom: none;
  }

}

@media (max-width:480px) {

  .containerHeading h1 {
    font-size: 18px;
  }

  .containerContent {
    top: 125px;
  }

  .containerContent p {
    font-size: 12px;
  }

  .containerProductImage {
    width: 350px;
    top: 44%;
  }

  .containerStatItem {
    padding: 12px;
  }

  .containerStatItem h2 {
    font-size: 16px;
  }

}


@media (max-width:430px) {

  .containerHeading h1 {
    font-size: 16px;
  }

  .containerContent {
    top: 118px;
  }

  .containerProductImage {
    width: 300px;
    top: 45%;
  }

  .containerStatItem {
    padding: 10px;
  }

}

@media (max-width:390px) {

  .containerHeading h3 {
    font-size: 13px;
  }

  .containerHeading h1 {
    font-size: 15px;
  }

  .containerContent {
    top: 110px;
  }

  .containerContent p {
    font-size: 11px;
  }

  .containerProductImage {
    width: 280px;
    top: 44%;
  }

  .containerStatItem h2 {
    font-size: 15px;
  }

  .containerStatItem p {
    font-size: 9px;
  }

}

@media (max-width:360px) {

  .containerHeading h1 {
    font-size: 14px;
  }

  .containerContent {
    top: 105px;
  }

  .containerContent p {
    font-size: 10px;
  }

  .containerProductImage {
    width: 280px;
    top: 43%;
  }

  .containerStatItem {
    padding: 8px;
  }

}

@media (max-width:320px) {

  .containerHeading h3 {
    font-size: 11px;
  }

  .containerHeading h1 {
    font-size: 13px;
  }

  .containerContent {
    top: 100px;
  }

  .containerContent p {
    font-size: 9px;
  }

  .containerProductImage {
    width: 240px;
    top: 45%;
  }

  .containerStatItem {
    padding: 6px;
  }

  .containerStatItem h2 {
    font-size: 13px;
  }

  .containerStatItem p {
    font-size: 8px;
  }

}